__pycache__
_build
_coverage
elm-stuff
.npm
.venv
.vscode
*.pyc

backend/after_eqsat.txt
backend/before_eqsat.txt
evaluation/input/real_world_programs/*.tsv
evaluation/output/*
survey/code/*
survey/split-code/*
survey/survey/*
