_build
.vscode
*.pyc
_coverage
elm-stuff
backend/after_eqsat.txt
backend/before_eqsat.txt
before_eqsat.txt
after_eqsat.txt
__pycache__
data/*
.npm
analysis/output/*
performance_eval/output/*
survey/code/*
survey/survey.txt
